.site-search-form {
    display: flex;
    align-items: center;    

    input {
        border: none;
        background: transparent;  
        padding: 0.5em;      
    }

    input::placeholder {
        color: $color-text;
        font-size: 0.9em;
    }
}

.icon {
    @extend %fa-icon;
    @extend .fas;   

    &-search:before {
        content: fa-content($fa-var-search);
        font-weight: 400;
        padding-right: 0.5em;
    }    
}


button {
    background: transparent;
    border: none;
}

.load-more {
    color: $color-secondary;
    text-decoration: underline;
    font-size: 0.9em;
}

.grossary-alphabet {  
    margin-top: 3em;    
    line-height: 1;
    text-align: center;     
    

    li {
        opacity: 0; 
    }
    
    &.is-visible {

        a {
            display: inline-block;
            padding: 0.3em 0.4em;
            cursor: pointer;
            text-shadow: 1px 1px 2px #c0bcbc;            
    
            &:hover {
                transform: scale(2.2);
                background: white;
                border: 1px solid $color-secondary;
                border-radius: 3px;                
            }
        }
    }

    @media only screen and (max-width: $breakpoint-small) {
        font-size: 0.9em;
        line-height: 0.8;
        margin-top: 2.3em;
    }
    
    @media only screen and (max-width: $breakpoint-mobile) {        
        line-height: 0.7;
    }
}