.site-header {
    background: #000;
    color: #fff;
    padding: 0.2em 1em;      

    .page-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    a {
        color: #fff;
        text-transform: uppercase;
        font-size: 0.8em;
        padding: 0 0.5em;
        display: inline-block;

        &:hover {
            color: red;
        }
    }  

    .menu-items {
        display: flex;
        align-items: center;
    }

    .icon-search {
        padding-left: 1em;
        font-size: 14px;
    }
}