.button-primary{
    background: #2C70ED;
    color: white;
    padding: 0.7rem 1.2rem;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    border: 2px solid #2C70ED;
    transition: 0.3s;

    &:hover{
        background: transparent;        
    }
}

.site-header button:hover{
    color: #0F1F36;
}