.site-header .wrapper{       
    display: flex;   
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 8rem 0.7rem 2rem;
    position: relative;   
    box-shadow: 0 8px 6px -6px rgb(122, 121, 121);
    z-index: 2;    

    ul{
        display: flex;  
        flex-wrap: wrap; 
                
        li:nth-child(1) > a{
            color: #202C2E;
        }

        li:not(:last-child){
            padding-right: 2.7rem;
        }

        li a{
            display: block;
            font-size: 14px;
            color: #808585; 
            padding: 0.2rem;   
            transition: 0.3s;            
            
            &:hover{
                color: orange;
                transform: scale(1.2);
            }
        }

    }   
    
    
}

.site-logo-and-nav{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .site-logo{
        width: 9rem;
    }
}
