.content-header {
  background: url("../images/adv-section-info.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 20;
}

.content-header:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  z-index: 2;
}

.content-header h1 {
  font-size: 4rem;
  width: 80%;
  margin: 0 auto;
  padding: 9.5rem 0;
  color: white;
  text-align: center;
  line-height: 1;
  position: relative;
  z-index: 18;

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 40px solid orange;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    z-index: -1;
  }

  span {
    display: block;
  }
}

/*section-form*/

.content-form {
  background: linear-gradient(rgba(18, 28, 44, 0.95), rgba(18, 28, 44, 0.95));
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.content-form input {
  border: 1px solid rgb(27, 27, 27);
  border-radius: 0.2rem;
  background: rgb(15, 31, 54);
  width: 15rem;
  margin-right: 0.6rem;
  padding-left: 0.8rem;
  outline: none;
  color: white;
}

/*section-logos*/
.logos ul{
  padding: 2rem 0;
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li{
    width: 15%;
    overflow: hidden;   
  }

  img {
    width: auto;
    max-height: 3.5rem;   
    
  }
}

/*section-map*/

.content-map {
  padding-top: 5rem;
  text-align: center;

  h2 {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 4rem;

    span {
      display: block;
    }
  }

  img {
    width: 70%;
    box-shadow: 0px 2px 53px 0px rgba(168, 168, 168, 1);
  }
}

/*section unique-site*/
.content-unique-site {
  background: #efefef;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding-top: 3rem;
  }

  li {
    flex: 1 1 60%;
    max-height: 23rem;
    display: flex;
    background: white;
    overflow: hidden;
    padding: 1rem;
    margin: 0.5rem;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 5px 6px 1px rgb(207, 204, 204);
  }

  li:nth-child(2) {
    display: block;
    padding: 0;
    flex: 1 1 30%;

    .gallery-image {
      width: 100%;
    }
  }

  .text-container {
    width: 82%;
    text-align: left;
    display: flex;
    flex-direction: column;

    img,
    h5,
    p {
      padding-bottom: 1rem;
    }

    img {
      width: 30px;
    }

    p {
      font-size: 14px;
      line-height: 2;
    }
  }
}

.more-info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .text{
    flex-direction: column;
  }

  img {
    width: 45%;
    height: auto;
  }

  h2 {
    padding-bottom: 4rem;
  }

  div:nth-child(2) {
    width: 50%;
    text-align: left;
  }
}

.start-free {
  background: #27364b;

  .content-form {
    background: #27364b;
  }

  h2 {
    padding-bottom: 1.7rem;
    color: white;
  }
}


