@import 'reset';
@import 'typography';
@import 'button';

@import 'header';
@import 'main';
@import 'image';
@import 'footer';

body{
   
}

.wrapper{
    max-width: 1500px;
    margin: 0 auto;
}

.site-section{
    padding: 5rem 0;
    text-align: center; 
}

.text{
    width: 48%;
    display: flex;
    align-items: flex-end;
}

.gallery-image{
    width: 45%;
    display: block;    
    overflow: hidden;
    position: relative;
  }

  .gallery-image:before{
    display: block;
    content: '';
    padding-top: 100%;
  }

  .gallery-image img{
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .gallery-image .portrait{
    width: 100%;
    height: auto;
  }