.icon {
  @extend %fa-icon;
  
  &-social {   
    @extend .fab;
  }
  
  &-regular {
    @extend .far;    
  }
  
  &-regular:after {
    font-weight: 400;
  }
  
  &-facebook:after {
    content: fa-content($fa-var-facebook);
  }
  
  &-twitter:after {
    content: fa-content($fa-var-twitter);
  }
  
  &-medium:after {
    content: fa-content($fa-var-medium);
  }
  
  &-google:after {
    content: fa-content($fa-var-google);
  }
  
  &-user:after {
    content: fa-content($fa-var-user);
  }
  
  &-hamburger:after {
    content: fa-content($fa-var-bars);
    font-size: 20px;
  }
  
  &-search:after {
    content: fa-content($fa-var-search);
    
  }
  
  &-hashtag:after {
    content: fa-content($fa-var-hashtag);    
  }
  
  &-comment:after {
    content: fa-content($fa-var-comments);
  }
  
  &-arrow:after {
    content: fa-content($fa-var-arrow-square-up);
  }
}

.row {
  @include flex-grid-row(null, expand, 3, true, true, map);
}

.column-3 {
  @include flex-grid-column(3);
}

.column-6 {
  @include flex-grid-column(6);
}

@media (max-width: 1280px) {
  .column-3 {
    @include flex-grid-column(12);
  }

  .column-6 {
    @include flex-grid-column(8);
    margin: 0 auto;
  }
}


.icon-search {
  position: relative;   
  margin-right: 1.5em;
  
  input {    
    font-weight: 400;
    font-style: italic;    
    padding: 1.6em;        
    border: none;
    border-left: 1px solid #eee;
    display: inline-block;
    max-width: 100%;
    padding-right: 3em;  
  } 
  
  @media (max-width: 1280px) {    
    margin-left: auto;
    
    input {
      padding: 0.8em;
    }
  }
}

.back-to-top { 
  position: absolute;
  bottom: -31px;
  right: 0;  
  display: inline-block;
  
  a {
    color: $color-primary;
    background: $color-entry;    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 0.875em;
    padding: 0.65em 1.20em 0.65em 2.9em;
    position: relative;
    font-weight: 700;
    
    &:after {     
      color: $color-primary;   
      position: absolute;
      top: 6px;
      left: 16px;
      font-size: 1.3em;
    }
  }  
}