.entry {
    margin-top: 2em;
    position: relative;
    z-index: 1;

    .page-wrapper {
        display: flex;
        flex-wrap: wrap;   
        justify-content: center;    
    }

    &-heading-container {
        background: #000;
        color: #fff;
        padding: 1em 1em 2em 1em;
        flex: 0 0 728px;
        max-width: 100%;
    }

    &-title {
        font-size: 36px;
        font-weight: 500;
        margin: 0;
        padding-bottom: 0.9em;
    }

    &-subtitle {
        font-size: 13px;
        padding: 0;
    }

    &-content {
        padding: 0;
        margin-top: -70px;

    }

    &-description {
        padding-top: 0.7em;
        padding-bottom: 0.7em;
    }

    &-image {        
        min-height: 400px;
        position: relative;
    }

    &-image:after {
        display: block;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../../../assets/src/images/cq5dam.web.1200.675.jpeg') no-repeat center center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: auto;
    }
}

